{%include '../partes/head.html'%}

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/3c6299cf-a845-4e92-2923-5685991e4b00/width=450/01933-656677625-professional%20beautiful%20amazing%20blue%20pen%20drawing%20of%20canetaazul,%20high%20detail,%208k,%20octorender.jpeg" alt="Bootstrap" width="70" height="50">
            </a>
          <a class="navbar-brand" href="#">Caneta School</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre Nós</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cursos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Caneta arte: A Cor Azul</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Caneta arte: A Cor Preta</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Caneta arte: A Cor Vermelha</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img.kalunga.com.br/fotosdeprodutos/176022z_3.jpg" class="d-block w-100" alt="caneta_azul_curso" width="150" height="500">
        </div>
        <div class="carousel-item">
          <img src="https://www.lipaper.com.br/product_images/o/645/caneta_compactor_economic_preta__32862_zoom.png" class="d-block w-100" alt="caneta_preta_curso" width="150" height="500">
        </div>
        <div class="carousel-item">
          <img src="https://marketup-cdn.s3.amazonaws.com/files/110680/products/ed8a4d0f-363c-4722-aa81-fd01037ccd33.jpeg" class="d-block w-100" alt="caneta_vermelha_curso" width="150" height="500">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
    <h1>Funciona</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>