{%include '../partes/head.html'%}
<div id="carouselExample" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.kalunga.com.br/fotosdeprodutos/176022z_3.jpg" class="d-block w-100" alt="caneta_azul_curso" width="150" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://www.lipaper.com.br/product_images/o/645/caneta_compactor_economic_preta__32862_zoom.png" class="d-block w-100" alt="caneta_preta_curso" width="150" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://marketup-cdn.s3.amazonaws.com/files/110680/products/ed8a4d0f-363c-4722-aa81-fd01037ccd33.jpeg" class="d-block w-100" alt="caneta_vermelha_curso" width="150" height="500">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>
    <h1 id="titulo">Cursos Presenciais e Online!</h1>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>